body
{
	border-top:5px solid #3cb371;
	font-family:'Open Sans', sans-serif;
	color:#222222;
	background-color:#ccfff5;
  line-height:2rem;
}
p
{
	margin:5px 0 10px 0;	
	line-height:1.2em;
}

a
{
	color:#0b5e12;
	transition:color .5s ease;
	text-decoration:underline;
	cursor: pointer;

}
DIV.table 
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
    height: 0.5rem;
}
SPAN.th
{
    display:table-cell;
    font-weight: bold;
}
SPAN.td
{
    display:table-cell;
}
strong
{
	font-weight:bold;
}
/* HEADER */
header
{
	position:relative;
	overflow:hidden;
	width:auto;
	max-width:900px;
	margin:0 auto 0px auto;
	padding:5px 0 5px 0;
}
.headerbackground
{
	background-image:url(/images/sandkachel2.png);
	width:100%;
	height:auto;
}
h1
{
	font-size:2em;
  font-weight:bold;
  margin: 2rem 0 2rem 0;
}
h2
{
	font-size:1.5em;
	font-weight:bold;
  margin: 1.5rem 0 1.5rem 0;
}
h3
{
	font-size:1em;
	font-weight:bold;
  margin: 1.2rem 0 1.2rem 0;
}
nav
{
	width:auto;
	max-width:900px;
	margin:0 auto 0px auto;
	padding:5px 0 5px 0;
}
nav ul .smSection
{
	line-height: 1em;
}
nav li 
{
	padding: 0 10px 0 10px ;
}
th
{
	text-align: left;
	color: white;
	background-color: grey;
}
nav ul .smSection a
{
	text-transform: none;
	font-size: 0.9em;
}
nav a
{
	text-decoration:none;
	text-transform:uppercase;
	color:#222222;
	transition:all .25s ease;
}
nav a:hover
{
	color:#c44014;
}

.betont tr:nth-child(even) {
   background-color: #B0B0B0;
}
.betont tr:nth-child(odd) {
   background-color: #DDDDDD;
}
.breitebilder, .breit
{
	max-width: 100%;
	height: auto;
	padding: 5px;
}
.nav {
  display: block;
}
li 
{
  display: block;
}
.navcurrent
{
	font-weight:bold;
	text-decoration:underline;
}
li
{
	line-height:1.7em;
	margin:0 0 0 0;
}
#logotcoheader
{
	width:150px;
}
#datenschutz
{
	width: auto;
	margin-top:0.6em;
	font-size:1.5em;
	font-weight:bold;
	line-height: 1em;
}
#anfahrtbutton
{
	width: 10em;
	margin:0.6em 0 0.6em 0;
	padding: 8px 8px 8px 8px;
	border: 5px dotted white;
	background-color:#196719;
	font-size:1.5em;
	font-weight:bold;
	line-height: 1em;
	text-align:center;
}

#fehlerseite
{
	color: red !important;
	font-weight: bold;
}

.table td {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem !important;
}
.tbl-small
{
  font-size: 0.9rem;
  line-height: 0.9rem;
}
.tbl-auto
{
  table-layout: auto;
}
.klein
{
  font-size: 0.8rem;
  line-height:0.9rem;
}
.editor
{
  font-size: 0.8rem;
  line-height: 1rem;
  padding:1rem;
  background-color: #ffd4c5;
}

@media (min-width: 992px)
{
  .container {
      max-width: 900px;
  }
  .tbl-small
  {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }

}